.root {
    -fx-background-color: lightBlue;
    -fx-font-family: "Arial, sans-serif";
    -fx-padding: 10;
}

.main-tab {
    -fx-background-color: #007acc;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.main-tab:selected {
    -fx-background-color: #005999;
}

.tab-pane {
    -fx-background-color: #e6f7ff;
    -fx-border-color: #007acc;
    -fx-border-width: 2px;
}

.tab {
    -fx-background-color: #007acc;
    -fx-text-base-color: white; 
    -fx-font-weight: bold;
}

.tab:selected {
    -fx-background-color: #005999;
}

.button {
    -fx-background-color: #007acc;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5 10;
}

.button:hover {
    -fx-background-color: #005999;
}